<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover")
        title 04-grid
        link(rel="stylesheet", href="./question.css")
    body

        h1 Vertical
        // CSS만 작성해주세요.
        .grid_wrap
            -var index = 1;
            -for (var i=0; i<20; i++)
                .item
                    img(src="./img/box_" + index++  + ".jpg", alt="")

        h1 2단 Layout
        // figma를 참고하여 레이아웃을 완성해주세요.
        .grid_layout