@import "scss/variables";
@import "scss/mixins";
@import "scss/reset";

// Layout
//––––––––––––––––––––––––––––––––––––––––––––––––––
body {
  color: $gray1;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  width: 1020px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.section__title {
  margin: 76px 0 22px;
  font-size: 24px;
  font-weight: 600;

  .section__titleCaption {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }

  em {
    color: $primary;
  }
}

// A11y
//––––––––––––––––––––––––––––––––––––––––––––––––––
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Carousel
//––––––––––––––––––––––––––––––––––––––––––––––––––
.glide__bullet {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 19px;

  li {
    width: 9px;
    height: 9px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: $gray5;
    list-style: none;

    &.glide__bullet--active {
      background-color: $gray4;
    }
  }
}

// write your code below.
//––––––––––––––––––––––––––––––––––––––––––––––––––
