/* reset */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

img {
    display: block;
}

h1 {
    text-align: center;
    margin: 35px auto 0;
}

input {
    width: 300px;
    height: 50px;
    border: 1px solid #ddd;
}

.selector_wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fafafa;
    counter-reset: items;
}

.selector_wrap .item {
    -webkit-flex: calc(100% / 4);
    -ms-flex: calc(100% / 4);
    flex: calc(100% / 4);
    position: relative;
    height: 220px;
    padding: 15px;
    box-shadow: 14px 17px 34px -20px rgba(0, 0, 0, 0.75);
    color: #000;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity .3s;
    will-change: opacity;
    /* type here */
}

.selector_wrap .item img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 100%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.selector_wrap .item:before {
    counter-increment: items;
    content: "num_" counter(items);
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 50px;
}

.selector_wrap .item:hover {
    opacity: .8;
}