@charset "UTF-8";

/* color */
$color1 : #fff;
$color2 : #333;
$color3 : rgba(51,51,51,0.8);

/* reset */
*{font-weight:400;font-family:"Noto Sans KR";font-size:12px;line-height:16px;color:$color1}
p{margin:0}
button{padding:0;border:none;background-color:transparent;cursor:pointer}

/* tooltip */
/* tooltip 스타일 작성 영역 */