// color
$gray1: #181818;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #aaa9a9;
$gray5: #cccccc;
$gray6: #e0e0e0;
$gray7: #f2f2f2;
$gray8: #f9f9f9;

$primary: #0074e9;

$category-colors: (
  "supplies": #9d7a6d,
  "kitchen": #00b599,
);
