// color
$primary: #ed234b;
$gray: #4f4f4f;
$background-overlay: rgba(0, 0, 0, 0.08);
$toast-background: rgba(0, 0, 0, 0.8);

// reset
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.background-overlay {
  //  type here
}

.modal-container {
  //  type here

  .modal {
    //  type here
  }
}

.toast-container {
  //  type here

  .toast {
    //  type here

    //  애니메이션 스타일 작성

    @keyframes slideDown {
      //  type here
    }

    .toast-content {
      //  type here
    }
  }
}

@media screen and (max-width: 769px) {
  .toast-container {
    //  type here
  }
}
